:root {
    /* by default it will be in dark mode */
    --background-color: #141428;
    --text-color: #e0e0e0;
    --light-color: #e0e0e0;
    --dark-color: #141428;
    --primary-color: #6a0dad;
    --secondary-color: #3b0b78;
    --transition-speed: 0.3s;
    font-size: 18px;
}

.light-mode {
    --background-color: #e0e0e0;
    --text-color: #141428;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#141428 4%, #2c2c54, #141428 94%);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: all var(--transition-speed);
}

header {
    /*background: var(--secondary-color);*/
    padding: 20px;
    text-align: left;
}

.header-container h1 {
    margin: 0;
    font-size: 2.5em;
}

.header-container p {
    margin: 10px 0;
    font-style: italic;
}

.link-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

button {
    font-family: Arial, sans-serif;
}

nav ul li a, nav ul li button {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: all var(--transition-speed);
}

section {
    padding: 50px 20px;
    text-align: left;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    background: var(--background-color);
    box-shadow: 0px 0px 15px 5px rgba(106, 13, 173, 0.4);
    transition: all var(--transition-speed);
}

section h2 {
    margin-top: 0;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    padding: 10px;
}

.project-item {
    background: var(--background-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    color: var(--text-color);
    box-shadow: 0px 0px 10px 3px rgba(59, 11, 120, 0.4);
    transition: all var(--transition-speed);
}

.project-item a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

footer {
    /*background: var(--dark-color);*/
    padding: 20px;
    text-align: left;
    color: var(--text-dark);
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}


