/*
need this because I want to center the main content
to the screen, not to the space below the header
*/
.centering-is-hard {
    display: flex;
    align-items: center;

    /* making space so the header is not covered.
    font size * line-height + padding
    TODO: find a better way..? or make these vars */
    padding-top: calc(3rem * 1.5 + 40px);
    padding-bottom: calc(1rem * 1.5 + 40px);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    min-height: 100%;
    bottom: auto;
}

.logo {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    /* need this set for the padding calculation
    on the main content, just to be sure*/
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 2rem;
    color: var(--light-color);
}

.subheading {
    font-size: 1.5rem;
}

.text {
    font-size: 1.125rem;
}

#bio {
    grid-column: span 6;
}

#experience {
    justify-content: space-around;
    grid-column: span 5;
}

#skills {
    grid-column: span 4;
}

#education {
    grid-column: span 2;
}

#contact {
    grid-column: span 1;
}

.contact-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

